
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    padding: 20px;
}

img {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px; 
}

button {
    border-radius: 2em;
    background-color: papayawhip;
    height: 2em;
    width: auto;
    padding: 0 2em;
    margin: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: peachpuff; 
}

.progress-container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto 20px; 
    height: 30px;
    background-color: pink;
    border-radius: 5px; 
    overflow: hidden; 
}

.progress-bar {
    height: 100%;
    background-color: lightblue;
    width: 0%;
    transition: width 0.5s ease; 
}

.resetbutton button {
    background-color: tomato; /* Stand out with a bright color */
    color: white; /* White text for better contrast */
    font-weight: bold; /* Bold text to make it more prominent */
}

.resetbutton button:hover {
    background-color: darkred; /* Darker shade on hover for effect */
}

.resetbutton {
    margin-top: 20px;
}